output=./results
data_type=file
train_file=/Users/busafekete/work/DistOpt/spark/data/train.txt
test_file=/Users/busafekete/work/DistOpt/spark/data/test_10000.txt
evalPeriod = 10000

train_size=5000000
test_size=50000

method=free_rex_batch
#method=pistol
method=sgd_vw
threads=1

# SVRG_FR
svrg_fr_lr=0.01
svrg_fr_reg=0.0
svrg_fr_step=50000

# SVRG_FR_B
svrg_fr_b_lr=10.0
svrg_fr_b_reg=0.0
svrg_fr_b_step=100000

# Pistol
pistol_lr = 0.1


# FREE REX
free_rex_lr = 0.3
free_rex_scaling = false
free_rex_wscaling = true

# FREE REX BATCH
free_rex_batch_lr = 20.0
free_rex_batch_scaling = false
free_rex_batch_wscaling = true

# SGD_VW
sgd_vw_lr=0.5

# SGD
sgd_lr=0.001


# SOLO
solo_lr=0.1


# SVRG
svrg_lr=0.005
svrg_reg=0.0
svrg_step=500

# SVRG_ADA
svrg_ada_lr=0.005
svrg_ada_reg=0.0
svrg_ada_step=500


# SGD
sgd_lr=0.5

# MB_SGD
mb_sgd_lr=0.105321
mb_sgd_reg=0.0
mb_sgd_step=50