output=./results
data_type=file
train_file=/Users/busafekete/work/DistOpt/spark/data/train.txt
test_file=/Users/busafekete/work/DistOpt/spark/data/test_10000.txt

train_size=5000000
test_size=50000
method=svrg_fr
threads=1

# SVRG_FR
svrg_fr_lr=0.008
svrg_fr_reg=0.0
svrg_fr_step=50000


# FREE REX
free_rex_lr = 0.001

# SGD_VW
sgd_vw_lr=1.0

# SOLO
solo_lr=0.1


# SVRG
svrg_lr=0.005
svrg_reg=0.0
svrg_step=500

# SVRG_ADA
svrg_ada_lr=0.005
svrg_ada_reg=0.0
svrg_ada_step=500


# SGD
sgd_lr=0.5

# MB_SGD
mb_sgd_lr=0.105321
mb_sgd_reg=0.0
mb_sgd_step=50